
#video {
  border: 2px solid black;
  width: 352px;
  height: 254px;
}

#photo {
  border: 2px solid black;
  width: 352px;
  height: 254px;
}

#canvas {
   display: none;
}

.camera {
   width: 340px;
   display: inline-block;
}

.output {
   width: 340px;
   display: inline-block;
}

#startbutton {
  display: block;
  margin-left: 130px;
  margin-top: 13px;
  padding: 5px;
  background-color: #004AAD;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 14px;
  cursor: pointer;
  color: white;
  margin-bottom: 13;
  outline: none;
}
h1{
   color: #004AAD;
}

.contentarea {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}
